*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    border-right: 1px solid;
}

body{
    height: 200vh;
}
main{
    background-image: url(https://mobicare.co.za/_Webmoduledata/Images/Thumb/R.jpg);
}